.container {
  padding: 100px;
  width: 100%;
  background-color: #1a1a1a;
  color: 255, 255, 255;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  color: orange;
}

.form {
  max-width: 680px;
  display: flex;
  gap: 10px;
}

.input {
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid #eee;
  background-color: transparent;
  color: #555;
  font-size: 1.2em;
}

.button {
  padding: 12px 24px;
  background-color: orange;
  color: #fff;
  border-radius: 8px;
  font-size: 1.2em;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.results img {
  width: 45%;
  flex: 1 0;
  border: 1px solid #555;
}
